* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    display: block;
}

.grid {
    display: grid;
    align-items: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

main {
    margin: 1rem;
    width: 840px;
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px #321;
    border: 1px solid black;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #000;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;

}

p {
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: #f4f7fb;
    color: #1f2937;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 120px;
}