* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    width: 840px;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px #321;
    border: 1px solid black;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;

}

p {
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: #f4f7fb;
    color: #1f2937;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 120px;
}